.App {
  display: flex;
  justify-content: center;
}


.Form-Container {
  border-style: groove;
  margin-top: 9em;
  padding: 2em 6em;
}

input[type=text] {
  margin-right: 1em;
  border-style: groove;
}

.button {
  padding: .3em .7em;
  cursor: pointer;
}